// Import all of Bootstrap's CSS
@import "../../node_modules/bootstrap/scss/bootstrap";

// here be variables

$card-bg: #a1faebbc;

:root {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

html {
  scroll-padding-top: 5rem;
}

h1 {
  _font-family: "Rubik", sans-serif;
  _font-family: "Quicksand", sans-serif;
  font-family: "Oxygen", sans-serif;
}

p {
  font-family: "Quicksand", sans-serif;
}

.navbar {
  _background-color: rgb(161, 250, 235);
  background-color: white;
  _box-shadow: 1px 1px 1px lightgray;
  _border-bottom: 2px solid #1b618d;
}

.comic-pic {
  height: 5rem;
  width: 5rem;
}

.headline-wrapper {
  _background-color: #1b618d;
  color: #1b618d;
  _color: #ddf1f3;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  _border-radius: 5px;
  opacity: 0.9;
  margin-bottom: 0.5rem;
  margin-top: 5rem;
  border-bottom: solid lightblue 2px;
}

.textblock-wrapper {
  margin: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
}

#app {
  background-color: white;
}

// this is for the cards in the about section
.card {
  _background-color: #a1faeb;
  background-color: $card-bg;
  opacity: 0.9;
  border: none;
  box-sizing: border-box;
  box-shadow: 3px 3px #1b618d;
  height: 100%;
  width: 100%;
  _padding: 0.2rem;
}

.card-title-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-icon {
  height: 2rem;
  background-color: white;
  padding: 1rem;
  border-radius: 50%;
  color: #1b618d;
}

.card-text {
  padding: 0.5rem;
}
// everything for the navbar
.nav-icon {
  height: 1.5rem;
}

//team view

$accordion-button-focus-box-shadow: 0 0 0 0.25rem brown;
