// Import all of Bootstrap's CSS
@import "../../node_modules/bootstrap/scss/bootstrap";

:root {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  _font-family: "Rubik", sans-serif;
  _font-family: "Quicksand", sans-serif;
  font-family: "Oxygen", sans-serif;
}

p {
  font-family: "Quicksand", sans-serif;
}

.comic-pic {
  height: 5rem;
  width: 5rem;
}

.headline-wrapper {
  background-color: #1b618d;
  _color: white;
  color: rgb(221, 241, 243);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  opacity: 0.9;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.textblock-wrapper {
  margin: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
}
