// Import all of Bootstrap's CSS
@import "../../node_modules/bootstrap/scss/bootstrap";

:root {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  _font-family: "Rubik", sans-serif;
  _font-family: "Quicksand", sans-serif;
  font-family: "Oxygen", sans-serif;
}

p {
  font-family: "Quicksand", sans-serif;
}

.navbar {
  _background-color: rgb(161, 250, 235);
  background-color: white;
  _box-shadow: 1px 1px 1px lightgray;
  _border-bottom: 2px solid #1b618d;
}

.comic-pic {
  height: 5rem;
  width: 5rem;
}

.headline-wrapper {
  _background-color: #1b618d;
  color: #1b618d;
  _color: rgb(221, 241, 243);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  _border-radius: 5px;
  opacity: 0.9;
  margin-bottom: 0.5rem;
  margin-top: 5rem;
  border-bottom: solid lightblue 2px;
}

.textblock-wrapper {
  margin: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
}
